
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
  	<label>Tags</label>
		<input type="hidden" id="comment-tag-input" name="tags" style="width:300px" value="<%= f.object.tag_string %>">
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

<script>
  $("#comment-tag-input").select2({
                  tags:[],
                  tokenSeparators: [",", " "],
                  maximumSelectionSize: 3
                });
  </script>