<%= form_for comment, :as => :berr, :url => berrs_path do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <input name="berr[parent_id]" type="hidden" value="<%= comment.parent_id %>" />
 
  <div class="field">
    <%= f.text_area :text %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>