<%= "There are no threads yet! Why not create one? " if @comments.count < 1 %>

<%= link_to "+ New Berr", new_berr_url, :class => "button" %>

<% @comments.each do |c| %>

<hr />
<div class="row">
	<div class="span3">
		<%= gravatar_for c.user.email, :size => 32, :class => "img-circle" %>
		<%= c.user.email %>
		<%= raw show_tags(c.tags) %>
		<br />
		<%= time_ago_in_words(c.created_at) %> ago
	</div>
  <div class="span8">
	<p>
	<%= link_to c.title, berr_path(c) %>
<br />

	<% if current_user.admin? || c.user == current_user %>
			<%= link_to "edit", edit_berr_path(c), :class => "btn btn-mini btn-danger" %>
			<%= link_to "remove", berr_path(c), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-mini btn-danger" %>
		<% end %>

	</p>
  </div>
</div>

<% end %>
